/* imports/font */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@100;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,100;1,200;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  /* font-family: "Bebas Neue", sans-serif; */
  /* font-family: "Press Start 2P", cursive; */
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: monospace; */
  font-family: "Poppins","Press Start 2P", cursive;
}
